<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm mb-4">
  <div class="container" style="max-width: 1200px;">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="https://cdn-icons-png.flaticon.com/512/29/29302.png" alt="BookStore Logo" class="me-2"
           style="height: 40px;">
      <span class="fw-bold fs-4">BookStore</span>
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
           Inicio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/buscar" routerLinkActive="active">
            Buscar Libros
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/carrito"
             routerLinkActive="active">
            Carrito
            <span *ngIf="(cartItemCount$ | async) as count" class="badge bg-primary ms-1">{{ count }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
